.git
.github
.idea
.vscode
.turbo
node_modules
**/node_modules
**/.next
**/out
**/dist
**/.env
**/.env.*
!**/.env.example
docker/data
data
logs
uploads
deploy_*.tar.gz
.deploy-temp
coverage
*.log
.DS_Store
